<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.test.dao.ILoginDao">
    <resultMap id="BaseResultMap" type="com.example.test.entity.Login">
    </resultMap>
    <select id="login" resultMap="BaseResultMap" parameterType="com.example.test.entity.Login">
        SELECT * from login where username=#{username} and password=#{password}
    </select>
</mapper>
